.container{
    margin: auto;
    width: 800px;
    height: auto;
    background-color: rgb(121, 130, 172);
    margin-top: 73px;
}
.manifesto-header{
    text-align: center;
}

.manifesto-body{
    text-align: center;
}