
/*==================================
  ============HEADER================
  ==================================*/
body{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(23, 90, 90, 0.01)), url(../img/nigeriadecides.jpg);
    background-size: 100%;
    height: 100vh;
}


