
.create-party-cover{
    display: none;
    color: rgb(16, 100, 72)
}
.admin-form{
    width: 300px;
    height: 100px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    display: table;
    background: rgba(255,255,255,.2);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(10, 10, 10, 0.39), 0 3px 3px rgba(0,0,0,3.23);
    text-align: center;

}

.form-control {
    display: block;
    width: 300px;
    height: 40px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 20px;
}
.form-input{
    padding-top: 20px;
}
.btn{
    display: block;
    height: 40px;
    padding: 6px 12px;
    font-size: 17px;
    line-height: 1.42857143;
}
.btn, 
.btn-block{
    width: 100px;
    color: #fff;
    background-color: rgba(6, 63, 15, 0.562);
    background-image: none;
    border: 0;
    border-radius: 20px;
}

.btn:hover, 
.btn-block:active{
    font-size: 17px;
    color: #555;
    background-color: rgb(6, 63, 15);
}

/*Create Office Type*/
.create-office-cover{
    display: none;
    color: rgb(16, 100, 72)
}

.edit-party-cover{
    width: 500px;
    height: auto;
    margin: auto;
    margin-top: 20px;
    display: table;
    background: rgba(255,255,255,.2);
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(10, 10, 10, 0.39), 0 3px 3px rgba(0,0,0,3.23);
    display: none;
}
.edit-party-cover table{
    padding: 20px;
    margin-left: 40px;
}
table td{
    padding: 30px;
    color: rgb(58, 105, 79);
}
table td a{
    padding: 30px;
    color: rgb(18, 117, 64);
    font-size: 16px;
}
table td a:hover,
table td a:active{
    font-size: 15px;
    color: rgb(25, 53, 38);

}

thead{
    text-transform: uppercase;
    color: rgb(25, 105, 61);

}
tbody{
    text-transform: capitalize;
}
